<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                NodeJS_F8
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown ms-2nav">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expabasicsdfsdfnded="false">
                            <img class="avatar" src="https://avatar-redirect.appspot.com/google/116024080956366197990?size=400" alt="">
                            Zevik
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="">
                                <a class="dropdown-item" href="/course/create">Tạo khóa học</a>
                            </li>
                            <li class="">
                                <a class="dropdown-item" href="/personal/stored-courses">Khóa học của tôi</a>
                            </li>
                            <li class="">
                                <a class="dropdown-item" href="/course/create">Đăng xuất</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>